{% block content %}
<h1> Sign In </h1>
<form action="" method="post" name="registration">
  {{form.hidden_tag()}}
  <p>
    Please enter your username:<br>
    {{form.username(size=80)}}<br>
    Please enter your email:<br>
    {{form.email(size=80)}}<br>
    Please enter your password: <br>
    {{form.password(size=80)}}<br>
    Enter again<br>
    {{form.confirm(size=80)}}<br>
  </p>
  <p><input type="submit" value="Sign In"></p>
</form>
<p><a href="{{url_for('login')}}"> login </p>
{% endblock %}
